Algoritmos/AlgoritmosProject/bin/
Algoritmos/AlgoritmosProject/obj/
bin/Debug/net8.0-windows/AlgoritmosProject.deps.json
bin/Debug/net8.0-windows/AlgoritmosProject.dll
bin/Debug/net8.0-windows/AlgoritmosProject.exe
bin/Debug/net8.0-windows/AlgoritmosProject.pdb
bin/Debug/net8.0-windows/AlgoritmosProject.runtimeconfig.json
obj/AlgoritmosProject.csproj.nuget.dgspec.json
obj/AlgoritmosProject.csproj.nuget.g.props
obj/AlgoritmosProject.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0-windows/AlgoritmosProject.AssemblyInfo.cs
obj/Debug/net8.0-windows/AlgoritmosProject.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows/AlgoritmosProject.assets.cache
obj/Debug/net8.0-windows/AlgoritmosProject.csproj.CoreCompileInputs.cache
obj/Debug/net8.0-windows/AlgoritmosProject.csproj.FileListAbsolute.txt
obj/Debug/net8.0-windows/AlgoritmosProject.dll
obj/Debug/net8.0-windows/AlgoritmosProject.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows/AlgoritmosProject.genruntimeconfig.cache
obj/Debug/net8.0-windows/AlgoritmosProject.GlobalUsings.g.cs
obj/Debug/net8.0-windows/AlgoritmosProject.pdb
obj/Debug/net8.0-windows/apphost.exe
obj/Debug/net8.0-windows/ref/AlgoritmosProject.dll
obj/Debug/net8.0-windows/refint/AlgoritmosProject.dll
/obj/Debug/net8.0-windows
/.vs/AlgoritmosProject/v17/.suo
/.vs/AlgoritmosProject/v17/.wsuo
/.vs/AlgoritmosProject/v17/DocumentLayout.backup.json
/.vs/AlgoritmosProject/v17/DocumentLayout.json
/.vs/AlgoritmosProject/FileContentIndex/b89ec092-72a0-44c8-a8a2-a334d29db3be.vsidx
/.vs/AlgoritmosProject/FileContentIndex/effa1ef1-7276-4474-84d4-efbe1531c3da.vsidx
/.vs/AlgoritmosProject/FileContentIndex/8d6b5011-5619-4be7-9f25-1f114c8c701a.vsidx
/.vs/AlgoritmosProject/FileContentIndex/85bfcb21-b053-4ac6-a50f-e6e196df626f.vsidx
/.vs/AlgoritmosProject/FileContentIndex/956c301a-97b8-459e-8d94-35620a72b71e.vsidx
/.vs/AlgoritmosProject/FileContentIndex/01d4ef28-8532-4e30-b2c0-b3009a32a67f.vsidx
/.vs/AlgoritmosProject/FileContentIndex/cc813877-e325-4a9a-ace6-6c661190da18.vsidx
/.vs/AlgoritmosProject/FileContentIndex/e2db9153-bc21-46a5-9b9a-2a2197904f0f.vsidx
*.vsidx
/.vs/AlgoritmosProject/CopilotIndices/0.2.1653.9816/CodeChunks.db
/.vs/AlgoritmosProject/CopilotIndices/0.2.1653.9816/CodeChunks.db-shm
/.vs/AlgoritmosProject/CopilotIndices/0.2.1653.9816/CodeChunks.db-wal
/.vs/AlgoritmosProject/CopilotIndices/0.2.1653.9816/SemanticSymbols.db
/.vs/AlgoritmosProject/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
/.vs/AlgoritmosProject/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-wal
