Algoritmos/AlgoritmosProject/bin/
Algoritmos/AlgoritmosProject/obj/
bin/Debug/net8.0-windows/AlgoritmosProject.deps.json
bin/Debug/net8.0-windows/AlgoritmosProject.dll
bin/Debug/net8.0-windows/AlgoritmosProject.exe
bin/Debug/net8.0-windows/AlgoritmosProject.pdb
bin/Debug/net8.0-windows/AlgoritmosProject.runtimeconfig.json
obj/AlgoritmosProject.csproj.nuget.dgspec.json
obj/AlgoritmosProject.csproj.nuget.g.props
obj/AlgoritmosProject.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0-windows/AlgoritmosProject.AssemblyInfo.cs
obj/Debug/net8.0-windows/AlgoritmosProject.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows/AlgoritmosProject.assets.cache
obj/Debug/net8.0-windows/AlgoritmosProject.csproj.CoreCompileInputs.cache
obj/Debug/net8.0-windows/AlgoritmosProject.csproj.FileListAbsolute.txt
obj/Debug/net8.0-windows/AlgoritmosProject.dll
obj/Debug/net8.0-windows/AlgoritmosProject.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows/AlgoritmosProject.genruntimeconfig.cache
obj/Debug/net8.0-windows/AlgoritmosProject.GlobalUsings.g.cs
obj/Debug/net8.0-windows/AlgoritmosProject.pdb
obj/Debug/net8.0-windows/apphost.exe
obj/Debug/net8.0-windows/ref/AlgoritmosProject.dll
obj/Debug/net8.0-windows/refint/AlgoritmosProject.dll
